In [1]:
! python -m pip3 install pymongo

/usr/bin/python3: No module named pip3

In [2]:
!pip3 install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 4.9 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [3]:
!pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)

In [4]:
import datetime                           
import pymongo
from pymongo import MongoClient


client = pymongo.MongoClient("mongodb+srv://jhasaurav215:1EGri8fyBu6UmeGH@cluster0.nahch.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
# , ssl=True,ssl_cert_reqs='CERT_NONE'

In [ ]:
!python --version

Python 3.7.13

In [5]:
client.list_database_names()

['blog', 'myFirstDatabase', 'student_marks', 'admin', 'local']

In [6]:
db = client["student_marks"]

In [14]:
db.list_collection_names()

['data']

In [21]:
obj = db.data.find()
for x in obj:
  print(x)

{'_id': ObjectId('6267ee5de7044929ea4a6a5e'), 'name': 'saurav', 'roll_no': 65, 'sub_mar': [{'sub': 'big_data', 'marks': 13}, {'sub': 'ml', 'marks': 14}]}
{'_id': ObjectId('6267ee5de7044929ea4a6a5f'), 'name': 'sarv', 'roll_no': 66, 'sub_mar': [{'sub': 'big_data', 'marks': 10}, {'sub': 'ml', 'marks': 12}]}
{'_id': ObjectId('6267ee5de7044929ea4a6a60'), 'name': 'manjot', 'roll_no': 64, 'sub_mar': [{'sub': 'big_data', 'marks': 12}, {'sub': 'ml', 'marks': 11}]}

In [18]:
db.data.drop()

In [20]:
db.data.insert_many([
                        
      {          
          'name' : 'saurav',
          'roll_no':65,
          'sub_mar': [{"sub": "big_data", "marks": 13}, {"sub": "ml", "marks": 14}]       
      },
      {          
          'name' : 'sarv',
          'roll_no':66,
          'sub_mar': [{"sub": "big_data", "marks": 10}, {"sub": "ml", "marks": 12}]     
      },
      {          
          'name' : 'manjot',
          'roll_no':64,
          'sub_mar': [{"sub": "big_data", "marks": 12}, {"sub": "ml", "marks": 11}]    
      }     
      ])

In [ ]:
obj = db.data.find()
for x in obj:
  print(x)

{'_id': ObjectId('624e9b49d32dd9003b7fce74'), 'name': 'saurav', 'roll_no': 65, 'sub_mar': [{'sub': 'big_data', 'marks': 13}, {'sub': 'ml', 'marks': 14}]}
{'_id': ObjectId('624e9b49d32dd9003b7fce75'), 'name': 'sarv', 'roll_no': 66, 'sub_mar': [{'sub': 'big_data', 'marks': 10}, {'sub': 'ml', 'marks': 12}]}
{'_id': ObjectId('624e9b49d32dd9003b7fce76'), 'name': 'manjot', 'roll_no': 64, 'sub_mar': [{'sub': 'big_data', 'marks': 12}, {'sub': 'ml', 'marks': 11}]}

In [22]:
# https://studio3t.com/knowledge-base/articles/mongodb-aggregation-framework/
obj = db.data.aggregate([ { "$unwind": "$sub_mar" }, { "$group": { "_id": "$sub_mar.sub", "avgMarks": { "$avg": "$sub_mar.marks" } } }])
for x in obj:
  print(x)

{'_id': 'ml', 'avgMarks': 12.333333333333334}
{'_id': 'big_data', 'avgMarks': 11.666666666666666}