# Loading and Saving Data in Spark

Collab Only code:

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar -xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

**Not on Colab you should start form HERE:**

Reading a text file textFile() in Python

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Learning_Spark") \
    .getOrCreate()
sc = spark.sparkContext

Loading all the .md files in one directory

# **Hive Example**

Using Hive to create and read a table - Simple Example

In [ ]:
from pyspark.sql import Row
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)
test_list = [('A', 25),('B', 20),('C', 25),('D', 18)]
rdd = sc.parallelize(test_list)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)
# Register it as a temp table
sqlContext.registerDataFrameAsTable(schemaPeople, "test_table")
sqlContext.sql("show tables").show()

/content/spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.py:604: FutureWarning: HiveContext is deprecated in Spark 2.0.0. Please use SparkSession.builder.enableHiveSupport().getOrCreate() instead.
  FutureWarning

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|         |test_table|       true|
+---------+----------+-----------+

Let's query the table

In [ ]:
sqlContext.sql("Select * from test_table").show()

+----+---+
|name|age|
+----+---+
|   A| 25|
|   B| 20|
|   C| 25|
|   D| 18|
+----+---+

**Load a JSON file with Hive and use SQL on it**

In [ ]:
## Colab code only - DO NOT run outsie of colab
from google.colab import files  
files.upload()

Let's load example1.json with Hive a do a Select Statement on it

In [ ]:
from pyspark.sql import HiveContext
hiveCtx = HiveContext(sc)
ex1 = hiveCtx.read.option("multiline", "true").json("exam.json")
ex1.registerTempTable("ex1")
results = hiveCtx.sql("SELeCT * FROM ex1").show()

/content/spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/context.py:604: FutureWarning: HiveContext is deprecated in Spark 2.0.0. Please use SparkSession.builder.enableHiveSupport().getOrCreate() instead.
  FutureWarning
/content/spark-3.2.1-bin-hadoop3.2/python/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

+---------+------+---+---+
|       FN|    LN| RN| id|
+---------+------+---+---+
|   Saurav|   Jha| 65|  1|
|Deepanshu|Google|  3|  2|
|   Shivam|  Modi| 21|  3|
+---------+------+---+---+

In [ ]:
hiveCtx.sql("show tables").show()

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|         |       ex1|       true|
|         |test_table|       true|
+---------+----------+-----------+